Using diffrent Linear Rergression Models

In [132]:
import pandas as pd
data = pd.read_csv('house_data.csv')

Encoding categorial data

In [133]:
from sklearn.preprocessing import LabelEncoder

#econder for area_type
areaTypeLE = LabelEncoder()
areaTypeLE.fit(data['area_type'])

data['area_type'] = areaTypeLE.transform(data['area_type'])

Getting means of intervals

In [134]:
def mean_of_interval(x):
    return np.mean(np.float_(re.findall('[0-9]+',x)))

In [135]:
import numpy as np
import re
data[ 'total_sqft'] = data['total_sqft'].apply(lambda x: mean_of_interval(x))

In [136]:
data['ready_to_move'] = (data['availability'] == 'Ready To Move')
cols = ['area_type', 'total_sqft', 'bath', 'balcony', 'ready_to_move']

In [137]:
data.describe()

          area_type    total_sqft          bath       balcony         price
count  13320.000000  13320.000000  13247.000000  12711.000000  13320.000000
mean       2.290315   1549.999756      2.692610      1.584376    112.565627
std        1.143846   1238.870243      1.341458      0.817263    148.971674
min        0.000000      1.000000      1.000000      0.000000      8.000000
25%        2.000000   1100.000000      2.000000      1.000000     50.000000
50%        3.000000   1270.000000      2.000000      2.000000     72.000000
75%        3.000000   1665.000000      3.000000      2.000000    120.000000
max        3.000000  52272.000000     40.000000      3.000000   3600.000000

Replace nan with mean

In [138]:
X = data[cols]
y = data['price']

In [142]:
X = X.fillna(X.mean())

In [143]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

In [144]:
X_train.head()

       area_type  total_sqft  bath  balcony  ready_to_move
10106          3      1400.0   2.0      2.0           True
10074          3      1275.0   2.0      2.0           True
12673          3       925.0   2.0      1.0           True
4611           1      1050.0   2.0      3.0           True
2430           0      2770.0   3.0      1.0           True

1. Linear regression

In [147]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.43583515815876106

2. Ridge Regression

In [150]:
from sklearn.linear_model import Ridge
reg = Ridge()
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.43583500437070843

3. Lasso

In [151]:
from sklearn.linear_model import Lasso
reg = Lasso(alpha=0.1)
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.43595107409258244