Using diffrent Linear Rergression Models

In [1]:
import pandas as pd
data = pd.read_csv('house_data.csv')
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

Encoding categorial data

In [2]:
from sklearn.preprocessing import LabelEncoder

#econder for area_type
areaTypeLE = LabelEncoder()
areaTypeLE.fit(data['area_type'])

data['area_type'] = areaTypeLE.transform(data['area_type'])

Getting means of intervals

In [3]:
def mean_of_interval(x):
    return np.mean(np.float_(re.findall('[0-9]+',x)))

In [4]:
import numpy as np
import re
data[ 'total_sqft'] = data['total_sqft'].apply(lambda x: mean_of_interval(x))

In [5]:
data['ready_to_move'] = (data['availability'] == 'Ready To Move')
cols = ['area_type', 'total_sqft', 'ready_to_move', "price"]
X_cols = ['area_type', 'total_sqft', 'ready_to_move']

In [6]:
data.describe()

          area_type    total_sqft          bath       balcony         price
count  13320.000000  13320.000000  13247.000000  12711.000000  13320.000000
mean       2.290315   1549.999756      2.692610      1.584376    112.565627
std        1.143846   1238.870243      1.341458      0.817263    148.971674
min        0.000000      1.000000      1.000000      0.000000      8.000000
25%        2.000000   1100.000000      2.000000      1.000000     50.000000
50%        3.000000   1270.000000      2.000000      2.000000     72.000000
75%        3.000000   1665.000000      3.000000      2.000000    120.000000
max        3.000000  52272.000000     40.000000      3.000000   3600.000000

Replace nan with mean

In [7]:
data = data[cols].dropna()
X = data[X_cols]
y = data['price']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=0)

In [9]:
X_train.head()

      area_type  total_sqft  ready_to_move
2623          2     30000.0          False
342           3      1325.0           True
6839          3      1464.0           True
8681          3      1070.0          False
614           2       940.0           True

1. Linear regression

In [10]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.31834126081060254

2. Ridge Regression

In [11]:
from sklearn.linear_model import Ridge
reg = Ridge()
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.318341424119307

3. Lasso

In [12]:
from sklearn.linear_model import Lasso
reg = Lasso(alpha=0.1)
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.3183562836691951

4. DecisionTree Regressor

In [13]:
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor(random_state=0)
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.451344913403729